<html>
<body>

<script src="{{ STATIC_URL }}js/jquery.min.js"></script>
<script src="{{ STATIC_URL }}js/springy.js"></script>
<script src="{{ STATIC_URL }}js/springyui.js"></script>

<script>
// var graph = new Springy.Graph();
// graph.addNodes('Dennis', 'Michael', 'Jessica', 'Timothy', 'Barbara')
// graph.addNodes('Amphitryon', 'Alcmene', 'Iphicles', 'Heracles');

// graph.addEdges(
//   ['Dennis', 'Michael', {color: '#00A0B0', label: 'Foo bar'}],
//   ['Michael', 'Dennis', {color: '#6A4A3C'}],
//   ['Michael', 'Jessica', {color: '#CC333F'}],
//   ['Jessica', 'Barbara', {color: '#EB6841'}],
//   ['Michael', 'Timothy', {color: '#EDC951'}],
//   ['Amphitryon', 'Alcmene', {color: '#7DBE3C'}],
//   ['Alcmene', 'Amphitryon', {color: '#BE7D3C'}],
//   ['Amphitryon', 'Iphicles'],
//   ['Amphitryon', 'Heracles'],
//   ['Barbara', 'Timothy', {color: '#6A4A3C'}]
// );

// jQuery(function(){
//   var springy = jQuery('#springydemo').springy({
//     graph: graph
//   });
// });

$(document).ready(function() {
    $("#plot").click(function(){
        plotGraph();
    }); 
});

function plotGraph() {
  var graph = new Springy.Graph();

  var lines = $("#source").val().trim().split('\n');
  for (var i in lines) {
    var line = lines[i].split(' ');
    var v = line[0];
    var w = line[1];
    graph.addNodes(v, w);
    graph.addEdges([v, w]);
  }

  var canvas = $('<canvas id="springydemo" width="640" height="400" />');
  $('#springy-div').html(canvas);

  var springy = canvas.springy({
    graph: graph
  });
}
</script>

<form>
    <textarea id="source" cols="20" rows="10">{{ graph.source }}</textarea>
    <input type="button" value="Plot" id="plot">
</form>

<div id="springy-div">

</div>

</body>
</html>